@@using BusBoard.Web.Models
@model BusBoard.Web.ViewModels.ChooseStop
@{
    ViewBag.Title = "Choose stop";
}
<!DOCTYPE html>

<html>
<head>
    
</head>
    <body>
        <div>
      
        </div>
    </body>
</html>