@using BusBoard.Api
@using BusBoard.Web.Models
@using BusBoard.Web.ViewModels
@model BusBoard.Web.ViewModels.ChooseStop
@{
    ViewBag.Title = "ChooseStop";
}

<h2>Stations</h2>

<div class="row">
    
        @if (Model.StopPoints !=null && Model.StopPoints.Count > 0)
        {
            foreach (StopPoint stop in Model.StopPoints)
            {
                <p>
                    <a href="BusInfo?naptamID=@stop.naptanId&commonName=@stop.commonName">
                        @stop.commonName - @stop.naptanId
                    </a>
                </p>
            }
        }
        else
        {
            <p>There are no stops in the given range</p>
        }
</div>
