@model BusBoard.Web.Models.PostcodeSelection
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BusBoard</h1>
    <p class="lead">For all your bus info needs. Enter a postcode below and click enter to see bus times for that location.</p>
</div>
<marquee scrollamount="20">
    <table>
        <tr>
            <td>
                <img src="https://doubledeckerpdx.com/wp-content/uploads/2015/10/DoubleDeckerBus.png" width="250px" height="160px">
            </td>
            <td>
                    <h2>Broom broom!</h2>
            <td>
                <img src="https://doubledeckerpdx.com/wp-content/uploads/2015/10/DoubleDeckerBus.png" width="250px" height="160px">
            </td>
        </tr>
    </table>
</marquee>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("ChooseStop", "Home", FormMethod.Get))
        {
            <fieldset>
                <legend>Post Code:</legend>
                @Html.TextBoxFor(m => m.Postcode)
                <legend>Max Distance(m):</legend>
                @Html.TextBoxFor(n => n.MaxDistance)

                <input type="submit" value="Get Bus Info"/>
            </fieldset>
        }
    </div>
</div>
<marquee scrollamount="20" direction="right">
    <img src="https://i.imgur.com/V1Q8Dc2.png">
</marquee>